.maindiv{
  padding-top: 1em;
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.mission{
    width: 40%;
    margin: 0 auto;
}
.wrapperoftwocontainer{
    display: flex;
    width: 50%;
    margin: 0 auto;
justify-content: flex-end;
flex-wrap: wrap;
}

.missionheading{
    font-size: 36px;
    letter-spacing: -1px;
    line-height: normal;
    font-family: inter,Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.firstpara{
   font-size: 20px;
   color: rgb(0,0,0,.8);
   font-weight: 500;
}
@media (max-width:647px)
{
   .maindiv{
       flex-direction: column;
   }
   .mission{
       width: 100%;
   }
   .wrapperoftwocontainer{
       width: 100%;
       justify-content: center;
   }
}

.thelastline{
  display: flex;
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 15px;
  padding: 13px;
  justify-content: center;
  align-items: center;

}
.thisistryitforfree{
  border: green solid 2px;
  padding: 4px;
  margin-left: 5px;
}
.thisistryitforfree a{
  font-size: 15px;
  color: white;
  text-decoration: none;

}
.thisistryitforfree:hover{
  border: 2px white solid;
}

